body{

background-image:url(HOME3.jpeg) ;
background-repeat: no-repeat;
background-position:center;
background-size: 100%;
background-attachment:fixed;

}

#h1{
    padding-left: 30px;
    padding-top: 14px;
    
    
}

#h1 a{
    text-decoration: none;
    color: lightgray;
  
}


.topnav{
display: flexbox;

}


#navi{
    list-style-type:none;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 30px;
    right: 50px;
  
}

#navi a{
font-weight: bolder;
color: lightgrey;    
    text-align: center;
   padding: 0px 16px; 
  text-decoration: none;
  font-size: 17px;
  
  
}


#navi a:hover {
  
    border-bottom:2px solid paleturquoise;
   }
   

#h2{
padding-top: 150px;
text-align: center;
color: lavender;

}

#h2 p{
    font-weight: lighter;
    font-style:oblique;
    font-size: 30px;
}


#p3{
padding-top: 70px;
font-weight: bolder;
font-size: 50px;
text-align: center;
color:lavender ;

}