
body{

    background-image:url(HOME5.jpeg) ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    background-attachment:fixed;
    
    }


    #h1{
        padding-left: 30px;
        padding-top: 14px;
        
        
    }
    
    #h1 a{
        text-decoration: none;
        color: lightgray;
      
    }
    
    #h1 i {
        color: lavenderblush;
    }
    
    .topnav{
    display: flexbox;
    
    }
    
    
    #navi{
        list-style-type:none;
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top: 30px;
        right: 50px;
      
    }
    
    #navi a{
    font-weight: bolder;
    color: lightgrey;    
        text-align: center;
       padding: 0px 16px; 
      text-decoration: none;
      font-size: 17px;
      
      
    }
    
    



#navi a:hover {
  
    border-bottom:2px solid paleturquoise;
   }
   

   .central h2{

    padding-top: 70px;
    padding-left: 180px;
    font-weight: bolder;
    font-size: 35px;
    color: rgb(151, 151, 175);

   }

   .central p{
       padding-top: 30px;
       padding-left: 20px;
       font-weight:lighter;
       font-size: 20px;
       color: lavenderblush;
font-style: italic;
word-spacing: 0.2em;
font-size: 25px;
text-indent: 20px;
text-align:left;
line-height: 2em;

   }

   